<div class="imageselector">
  <input type="file">
  <br>
  <div class="selected noselect nodrag">
    <img draggable="false" style="max-width: 400px">
    <div class="selectionbox createcursor noselect"></div>
    <div class="grabbox noselect"></div>
    <div class="resize n"></div>
    <div class="resize ne"></div>
    <div class="resize e"></div>
    <div class="resize se"></div>
    <div class="resize s"></div>
    <div class="resize sw"></div>
    <div class="resize w"></div>
    <div class="resize nw"></div>
  </div>
  <br>
  <div class="preview"></div>
  <div draggable="false" class="cover noselect nodrag"></div>
</div>
